/* global */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--base-color);
  background: var(--base-background);
}
:root {
  --line-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 68%, 56%);
  --twitter: hsl(195, 100%, 50%);
  --facebook: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --gray: #9b9ea7;
  --gray2: #5f616d;
  --card-color: #f0f3fa;
  --light-gray: #f8f9fe;
  --card-title: #6f717e;
  --base-background: white;
  --base-color: #1d2019;
  --switch-spinner: white;
  --switch: #6f717e;
}
.wrapper {
  padding: 0 30px;
}
.grid {
  display: grid;
  grid-row-gap: 25px;
}
.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .switch:before {
  transform: translateX(0px);
}
.switch {
  height: 40px;
  display: block;
  border-radius: 20px;
  background: var(--switch);
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.switch::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--switch-spinner);
  border-radius: 50%;
  transform: translateX(40px);
  transition: 0.3s;
  will-change: transform;
}
/* header*/
.header {
  /*border: 1px solid red;*/
  background: var(--light-gray);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
}
.header-total {
  color: #6f717e;
  margin: 0.5em 0;
  font-weight: 600;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1.5em;
}
h1 {
  margin: 0;
  font-size: 1.6em;
}
.top-cards {
  /*border: 1px solid blue;*/
  margin-top: -50px;
  margin-bottom: 3em;
}
.card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--card-color);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
}
.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before {
  background: var(--facebook);
}
.card.twitter::before {
  background: var(--twitter);
}
.card.instagram::before {
  background: linear-gradient(
    to right,
    var(--instagram-1) 0%,
    var(--instagram-2) 100%
  );
}
.card.youtube::before {
  background: var(--youtube);
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--card-title);
  font-size: 0.9em;
  font-weight: bold;
}
.card-title img {
  margin-right: 8px;
}
.card-followers {
  /*border: 1px solid red;*/
}
.card-followers-number {
  /*  border: 1px solid orangered;*/
  font-size: 50px;
  font-weight: 700;
}
.card-followers-title {
  /*border: 1px solid rebeccapurple;*/
  display: block;
  text-transform: uppercase;
  color: var(--card-title);
  letter-spacing: 5px;
  font-size: 0.75em;
}
.card-today {
  margin-top: 25px;
  color: var(--line-green);
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-today img {
  margin-right: 5px;
}
.overview {
  padding-bottom: 2em;
}
h2 {
  color: #6f717e;
}
.card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  background: var(--card-color);
  border-radius: 8px;
  padding: 1.7em;
}
.card-small p {
  margin: 0;
}
.card-small-views {
  color: var(--card-title);
  font-weight: bold;
  font-size: 0.9em;
}
.card-small-icon {
  text-align: right;
}
.card-small-number {
  font-weight: bold;
  font-size: 2.3em;
  line-height: 0.9;
}
.card-small-percentage {
  text-align: right;
  display: flex;
  align-items: flex-end;
  color: var(--line-green);
  justify-content: flex-end;
  font-size: 0.9em;
  font-weight: bold;
}
.card-small-percentage span {
  display: flex;
  align-items: center;
}
.card-small-percentage img {
  margin-right: 5px;
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header-total {
    border: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
}
/* DARK MODE*/
.is-dark-mode {
  --card-color: #252b43;
  --base-background: #1d2029;
  --base-color: white;
  --gray: #8088ad;
  --light-gray: #1d2029;
  --card-title: #8088ad;
  --switch-spinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}
.is-light-mode {
  --gray: #9b9ea7;
  --card-color: #f0f3fa;
  --light-gray: #f8f9fe;
  --card-title: #6f717e;
  --base-background: white;
  --base-color: #1d2019;
  --switch-spinner: white;
  --switch: #6f717e;
}
@media (prefers-color-scheme: dark) {
  :root {
    --card-color: #252b43;
    --base-background: #1d2019;
    --base-color: white;
    --gray: #8088ad;
    --light-gray: #1d2029;
    --card-title: #8088ad;
    --switch-spinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f, 100%);
  }
}

/* MINUTO 1:43 */
